<ul class="mt-4 ml-4">
  <li class="text-violet-500 hover:text-violet-700 hover:font-bold"><%= link_to '出荷情報', products_path %></li>
  <li class="text-violet-500 hover:text-violet-700 hover:font-bold"><%= link_to 'インヴォイスをアップロード', invoice_path %></li>
  <li>準備中</li>
</ul>
