<div id="products" class="h-screen w-screen">
  <p><%= link_to 'ホームへ戻る', root_path %></p>
  <products></products>
</div>

<% content_for :meta_t do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>